<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simpas Artikel</title>
    <link rel="icon" href="/static/images/logo_awal.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white">

    <!-- SVG Wave -->
    <svg class="absolute top-0 left-0 w-full" viewBox="0 0 1440 320">
        <path 
            fill="rgb(22, 163, 74)" 
            d="M0,64C80,128,240,192,360,192C480,192,640,128,720,96C800,64,960,64,1080,96C1200,128,1320,192,1440,256L1440,0L0,0Z">
        </path>
    </svg>

    <!-- Title Section -->
    <div class="relative z-10 pt-40 pb-4 text-center">
        <h1 class="text-3xl font-bold text-green-600">
            Simpas 
            <span class="bg-green-600 text-white py-1 px-4 rounded-full">Artikel</span>
        </h1>
    </div>

    <!-- Content Section -->
    <div class="relative z-10 flex flex-col items-center justify-center px-4 py-16 md:py-0">
        <!-- Description -->
        <p class="text-lg text-black mb-8 text-center px-2 md:px-0">Temukan artikel-artikel informatif tentang pengelolaan dan daur ulang sampah.</p>
        
        <!-- Grid untuk menampilkan artikel -->
        <div class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-4 sm:gap-8 mt-8">
            {% for article in articles %}
            <div class="bg-white rounded-lg shadow-lg p-4 sm:p-6 flex flex-col justify-between transform scale-100 hover:scale-105 transition duration-300 max-w-xs sm:max-w-sm mx-auto">
                
                <!-- Menampilkan gambar artikel jika ada -->
                {% if article.image_filename %}
                <img src="{{ url_for('static', filename='uploads/' + article.image_filename) }}" 
                     alt="Gambar Artikel" 
                     class="w-full h-48 object-cover rounded-lg mb-4">
                {% endif %}

                <h3 class="text-base sm:text-lg font-semibold text-black">{{ article.title }}</h3>
                <p class="mt-2 text-sm sm:text-base text-gray-600 flex-grow">
                    {{ article.content[:150] }}...
                </p>
                <a href="{{ url_for('article_detail', id=article['_id']|string) }}" 
                class="mt-4 px-4 py-2 bg-green-600 text-white rounded hover:bg-green-500 transition duration-300 self-end">
                Baca Selengkapnya
                </a>
             
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
