<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body class="bg-white text-white">

    <!-- Navbar -->
    <nav class="bg-white shadow fixed w-full z-10">
        <div class="max-w-screen-xl mx-auto px-4 py-4">
            <div class="flex justify-between items-center">
                <div class="text-lg font-bold text-black">SIMPAS</div>
            </div>
        </div>
    </nav>

    <!-- Header Section -->
    <div class="flex flex-col md:flex-row items-center justify-center h-screen p-8 bg-white">
        <div class="md:w-1/2 space-y-5">
            <h1 class="text-4xl font-bold md:text-5xl text-black">Sistem Informasi Sampah</h1>
            <p class="text-lg text-gray-500">Aplikasi sistem informasi sampah modern dilengkapi dengan fitur deteksi yang memungkinkan pengguna untuk mengidentifikasi jenis-jenis sampah, seperti sampah organik, dan anorganik.</p>
            <p class="text-lg text-gray-500">Unduh aplikasi ini untuk melakukan penjualan sampah.</p>
            <div class="flex flex-col md:flex-row md:space-x-4">
                <a href="{{ url_for('chatbot') }}" class="mb-4 md:mb-0 px-4 py-2 font-semibold text-gray-800 bg-gray-200 rounded hover:bg-gray-400 transition duration-300 transform hover:scale-105 text-center">Chat Bot</a>
                <button class="px-4 py-2 font-semibold text-white bg-green-600 rounded hover:bg-green-800 transition duration-300 transform hover:scale-105">Unduh Aplikasi</button>
            </div>            
        </div>
        <div class="mt-8 md:mt-0 md:w-1/2 flex justify-center">
            <img src="/static/images/logoLogin.png" alt="Logo" class="w-2/3 ">
        </div> 
    </div>

    <!-- About -->
    <div class="relative overflow-hidden bg-green-600 min-h-screen overflow-y-auto">
        <svg class="absolute top-0 left-0 w-full" viewBox="0 0 1440 320">
            <path fill="white" d="M0,64C80,128,240,192,360,192C480,192,640,128,720,96C800,64,960,64,1080,96C1200,128,1320,192,1440,256L1440,0L0,0Z"></path>
        </svg>
        <div class="relative z-10 flex flex-col items-center justify-center min-h-screen px-4 py-16 md:py-0">
            <h2 class="text-3xl font-bold text-white mb-8 mt-16 text-center">Mari Bergerak!</h2>
            <p class="text-lg text-white mb-8 text-center px-2 md:px-0">Temukan berbagai fitur inovatif yang dirancang untuk membantu Anda mengelola dan mendaur ulang sampah dengan lebih efektif.</p>
            
            <!-- Grid dengan fitur-fitur -->
            <div class="max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-4 sm:gap-8">
                <!-- Kartu Fitur 1 -->
                <div class="bg-gray-100 rounded-lg shadow-lg p-4 sm:p-6 text-center transform scale-100 hover:scale-105 transition duration-300 max-w-xs sm:max-w-sm mx-auto">
                    <img src="/static/images/iconklasifikasi.png" alt="Klasifikasi" class="w-16 h-16 sm:w-20 sm:h-20 mx-auto mb-4">
                    <h3 class="text-base sm:text-lg font-semibold text-black">Klasifikasi</h3>
                    <p class="mt-2 text-sm sm:text-base text-gray-600">Fitur klasifikasi untuk membantu pengguna mengenali jenis sampah.</p>
                    <button class="mt-4 px-4 py-2 bg-green-600 text-white rounded hover:bg-green-500 transition duration-300">Pelajari Lebih Lanjut</button>
                </div>
                
                <!-- Kartu Fitur 2 -->
                <div class="bg-gray-100 rounded-lg shadow-lg p-4 sm:p-6 text-center transform scale-100 hover:scale-105 transition duration-300 max-w-xs sm:max-w-sm mx-auto">
                    <img src="/static/images/iconsale.png" alt="Penjualan" class="w-16 h-16 sm:w-20 sm:h-20 mx-auto mb-4">
                    <h3 class="text-base sm:text-lg font-semibold text-black">Penjualan</h3>
                    <p class="mt-2 text-sm sm:text-base text-gray-600">Fitur penjualan untuk memudahkan transaksi sampah dengan pengepul sampah.</p>
                    <button class="mt-4 px-4 py-2 bg-green-600 text-white rounded hover:bg-green-500 transition duration-300">Pelajari Lebih Lanjut</button>
                </div>
                
                <!-- Kartu Fitur 3 -->
                <div class="bg-gray-100 rounded-lg shadow-lg p-4 sm:p-6 text-center transform scale-100 hover:scale-105 transition duration-300 max-w-xs sm:max-w-sm mx-auto">
                    <img src="/static/images/iconchatbot.png" alt="Chatbot" class="w-16 h-16 sm:w-20 sm:h-20 mx-auto mb-4">
                    <h3 class="text-base sm:text-lg font-semibold text-black">Chatbot</h3>
                    <p class="mt-2 text-sm sm:text-base text-gray-600">Fitur chatbot untuk memberikan bantuan interaktif kepada pengguna.</p>
                    <button class="mt-4 px-4 py-2 bg-green-600 text-white rounded hover:bg-green-500 transition duration-300">Pelajari Lebih Lanjut</button>
                </div>
            </div>
        </div>
    </div>
    

    <div class="w-full max-w-lg mx-auto p-4 mt-14">
      <h2 class="text-2xl font-bold text-center mb-6 text-gray-800">Tentang Aplikasi Sistem Informasi Sampah</h2>
         <p class="text-gray-700 mb-4">
          Aplikasi Sistem Informasi Sampah adalah solusi inovatif yang dirancang untuk membantu pengelolaan sampah secara efisien. Dengan fitur canggih, aplikasi ini memungkinkan pengguna untuk mengelola data sampah, melacak pengumpulan, dan menerima notifikasi tentang jadwal pengambilan sampah.
        </p>
      <h3 class="text-xl font-semibold mb-4">Fitur Utama</h3>
  
      <!-- Checkbox Collapse Menu Item 1 -->
      <div class="border border-gray-300 rounded-md mb-2">
          <input type="checkbox" id="question1" class="hidden peer">
          <label for="question1" class="w-full text-left p-4 flex justify-between items-center cursor-pointer text-gray-800">
              <span class="font-semibold">Bagaimana cara aplikasi ini mengelola data sampah?</span>
              <svg class="w-5 h-5 transition-transform peer-checked:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
          </label>
          <div class="p-4 border-t border-gray-300 text-gray-800 hidden peer-checked:block">
              <h1 class="text-lg font-bold mb-2">Pengelolaan Data Sampah</h1>
              Aplikasi ini mengelola data sampah dengan menyimpan informasi tentang jenis sampah, volume, lokasi pengumpulan, dan status pengangkutan, serta menyediakan laporan berkala untuk analisis lebih lanjut.
          </div>
      </div>
  
      <!-- Checkbox Collapse Menu Item 2 -->
      <div class="border border-gray-300 rounded-md mb-2">
          <input type="checkbox" id="question2" class="hidden peer">
          <label for="question2" class="w-full text-left p-4 flex justify-between items-center cursor-pointer text-gray-800">
              <span class="font-semibold">Apakah aplikasi ini mendukung notifikasi pengambilan sampah?</span>
              <svg class="w-5 h-5 transition-transform peer-checked:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
          </label>
          <div class="p-4 border-t border-gray-300 text-gray-800 hidden peer-checked:block">
              <h1 class="text-lg font-bold mb-2">Notifikasi Pengambilan Sampah</h1>
              Aplikasi ini memiliki fitur notifikasi yang akan mengingatkan pengguna tentang jadwal pengambilan sampah di lokasi mereka, sehingga memudahkan pengguna untuk tetap terinformasi.
          </div>
      </div>
  
      <!-- Checkbox Collapse Menu Item 3 -->
      <div class="border border-gray-300 rounded-md mb-2">
          <input type="checkbox" id="question3" class="hidden peer">
          <label for="question3" class="w-full text-left p-4 flex justify-between items-center cursor-pointer text-gray-800">
              <span class="font-semibold">Bagaimana cara melacak lokasi pengumpulan sampah?</span>
              <svg class="w-5 h-5 transition-transform peer-checked:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
          </label>
          <div class="p-4 border-t border-gray-300 text-gray-800 hidden peer-checked:block">
              <h1 class="text-lg font-bold mb-2">Pelacakan Lokasi Pengumpulan</h1>
              Pengguna dapat melacak lokasi pengumpulan sampah melalui fitur peta di aplikasi ini, yang menunjukkan rute dan lokasi truk sampah secara real-time.
          </div>
      </div>
  
      <!-- Checkbox Collapse Menu Item 4 -->
      <div class="border border-gray-300 rounded-md mb-2">
          <input type="checkbox" id="question4" class="hidden peer">
          <label for="question4" class="w-full text-left p-4 flex justify-between items-center cursor-pointer text-gray-800">
              <span class="font-semibold">Apa saja jenis sampah yang didukung oleh aplikasi ini?</span>
              <svg class="w-5 h-5 transition-transform peer-checked:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
          </label>
          <div class="p-4 border-t border-gray-300 text-gray-800 hidden peer-checked:block">
              <h1 class="text-lg font-bold mb-2">Jenis Sampah yang Didukung</h1>
              Aplikasi ini mendukung pengelolaan berbagai jenis sampah, termasuk sampah organik, anorganik, dan berbahaya, sesuai dengan regulasi pengelolaan sampah setempat.
          </div>
      </div>
  </div>
  
  <!-- Full-width Bottom Border -->
  <div class="border-b border-gray-400 w-full mt-4"></div>
  
  <div class="relative">
    <!-- Artikel Section -->
    <div class="flex flex-col items-center mt-8">
        <!-- Title -->
        <h3 class="text-2xl font-bold text-center text-gray-800 mb-8">Temukan informasi menarik di artikel terbaru kami! Klik di sini untuk mengeksplorasi lebih lanjut.</h3>
        
        <div class="flex flex-wrap justify-center space-y-4 sm:space-y-0 sm:space-x-4">
            <!-- Card 1 -->
            <div class="relative w-80 h-64 bg-gray-300 overflow-hidden rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300 mb-4">
                <img src="/static/images/artikel1.png" alt="Sampah Plastik Cemari Sungai di Indonesia" class="w-full h-full object-cover">
                <div class="absolute inset-0 bg-black bg-opacity-70 opacity-0 hover:opacity-100 transition-opacity duration-300 flex flex-col items-center justify-center text-center p-4 text-white">
                    <h3 class="text-xl font-bold mb-2">SAMPAH PLASTIK CEMARI SUNGAI DI INDONESIA</h3>
                    <a href="https://dlh.bulelengkab.go.id/informasi/detail/artikel/66_sampah-plastik-cemari-sungai-di-indonesia" class="px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600 transition-colors">Baca Selengkapnya</a>
                </div>
            </div>
            
            <!-- Card 2 -->
            <div class="relative w-80 h-64 bg-gray-300 overflow-hidden rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300 mb-4">
                <img src="/static/images/artikel2.jpg" alt="Dampak Buang Sampah Sembarangan" class="w-full h-full object-cover">
                <div class="absolute inset-0 bg-black bg-opacity-70 opacity-0 hover:opacity-100 transition-opacity duration-300 flex flex-col items-center justify-center text-center p-4 text-white">
                    <h3 class="text-xl font-bold mb-2">Dampak Buang Sampah Sembarangan Cemari Lingkungan</h3>
                    <a href="https://mmc.kalteng.go.id/berita/read/1861/dampak-buang-sampah-sembarangan-cemari-lingkungan" class="px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600 transition-colors">Baca Selengkapnya</a>
                </div>
            </div>
            
            <!-- Card 3 -->
            <div class="relative w-80 h-64 bg-gray-300 overflow-hidden rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300 mb-4">
                <img src="/static/images/artikel3.png" alt="Tempat Pengelolaan Sampah Di Kota Tegal" class="w-full h-full object-cover">
                <div class="absolute inset-0 bg-black bg-opacity-70 opacity-0 hover:opacity-100 transition-opacity duration-300 flex flex-col items-center justify-center text-center p-4 text-white">
                    <h3 class="text-xl font-bold mb-2">TEMPAT PENGELOLAAN SAMPAH DI TEGAL</h3>
                    <a href="https://ppid.tegalkota.go.id/tempat-pengolahan-sampah-di-kota-tegal-tahun-2022/" class="px-4 py-2 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600 transition-colors">Baca Selengkapnya</a>
                </div>
            </div>
        </div>
     <!-- Curved SVG -->
      <svg class="w-full text-green-600" viewBox="0 0 1440 320">
         <path fill="currentColor" d="M0,180L48,185C96,190,192,200,288,190C384,180,480,150,576,130C672,110,768,100,864,110C960,120,1056,150,1152,160C1248,170,1344,160,1392,150L1440,140L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg>
    </div>
</div>


    <div class="bg-green-600 text-white">
      <div class="container mx-auto px-4 py-8">
          <!-- Ikon Media Sosial -->
          <div class="flex justify-center space-x-4 mb-8">
              <a href="https://facebook.com" target="_blank" class="text-white hover:text-gray-300">
                  <img src="/static/images/logoFB.png" alt="Facebook" class="w-8 h-8">
              </a>
              <a href="https://instagram.com" target="_blank" class="text-white hover:text-gray-300">
                  <img src="/static/images/logoIG.png" alt="Instagram" class="w-8 h-8">
              </a>
              <a href="https://whatsapp.com" target="_blank" class="text-white hover:text-gray-300">
                  <img src="/static/images/logoWA.png" alt="WhatsApp" class="w-8 h-8">
              </a>
              <a href="https://twitter.com" target="_blank" class="text-white hover:text-gray-300">
                <img src="/static/images/logoX.png" alt="Twitter" class="w-8 h-8">
               </a>
            
          </div>
          <h3 class="text-2xl font-bold text-center mb-4">Terima kasih telah mengunjungi!</h3>
          <p class="text-center">Ikuti kami di media sosial untuk mendapatkan informasi terbaru.</p>
      </div>
  </div>
  
    <!-- Features Section -->
    <!-- <div class="grid gap-8 p-8 text-center md:grid-cols-4 bg-green-600">
        <div class="space-y-3">
            <div class="p-4 mx-auto bg-white rounded-full w-14 h-14"></div>
            <p class="text-lg font-semibold">Real-time communication assistance</p>
            <p class="text-gray-400">Real-time communication assistance, where students write the most.</p>
        </div>
        <div class="space-y-3">
            <div class="p-4 mx-auto bg-white rounded-full w-14 h-14"></div>
            <p class="text-lg font-semibold">Augments classroom learning</p>
            <p class="text-gray-400">Guided suggestions and custom feedback for students.</p>
        </div>
        <div class="space-y-3">
            <div class="p-4 mx-auto bg-white rounded-full w-14 h-14"></div>
            <p class="text-lg font-semibold">Improves career readiness</p>
            <p class="text-gray-400">Prepares students to succeed in professional environments.</p>
        </div>
        <div class="space-y-3">
            <div class="p-4 mx-auto bg-white rounded-full w-14 h-14"></div>
            <p class="text-lg font-semibold">Enterprise-grade security</p>
            <p class="text-gray-400">Protects student and institutional data.</p>
        </div>
    </div> -->

  

</body>
</html>


